workflows/tri-gmail-multi-comptes/analyse-des-newsletters-gmail-perso/workflow.json
{
  "name": "ANALYSE DES NEWSLETTERS GMAIL PERSO",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.deepseek.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "deepSeekApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.body) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [528, 336],
      "id": "17e7a627-e84a-4ed3-bdce-70b419a9516d",
      "name": "API DeepSeek - Analyse newsletters",
      "credentials": {
        "deepSeekApi": {
          "id": "MBt6ozX97KVIAwcD",
          "name": "DeepSeek account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "var raw = $input.first().json.choices[0].message.content.trim();\nvar ids = $input.first().json.ids;\n\nvar digest;\ntry {\n  digest = JSON.parse(raw);\n} catch(e) {\n  return [{ json: { message: 'Erreur de parsing du digest.', ids: ids } }];\n}\n\nvar semaine = new Date().toLocaleDateString('fr-FR');\nvar messages = [];\n\n// En-tête toujours dans le premier message\nvar header = '📰 <b>Digest Newsletters — ' + semaine + '</b>\\n' +\n  '📬 ' + digest.nb_newsletters + ' newsletter(s) analysée(s)\\n' +\n  '\\n⭐ <b>À retenir :</b> ' + digest.a_retenir + '\\n';\n\nvar current = header;\n\nfor (var i = 0; i < digest.themes.length; i++) {\n  var theme = digest.themes[i];\n  var themeBlock = '\\n' + theme.emoji + ' <b>' + theme.nom + '</b>\\n';\n\n  for (var j = 0; j < theme.points.length; j++) {\n    var point = theme.points[j];\n    var tag = point.actionnable ? ' 🎯' : '';\n    themeBlock += '\\n• <b>' + point.titre + '</b>' + tag + '\\n';\n    themeBlock += '  ' + point.detail + '\\n';\n    themeBlock += '  <i>— ' + point.source + '</i>\\n';\n  }\n\n  // Si ajout dépasse 4000 chars → nouveau message\n  if ((current + themeBlock).length > 4000) {\n    messages.push(current);\n    current = themeBlock;\n  } else {\n    current += themeBlock;\n  }\n}\n\nif (current.length > 0) {\n  messages.push(current);\n}\n\nreturn messages.map(function(msg, idx) {\n  return {\n    json: {\n      message: msg,\n      ids: idx === 0 ? ids : []  // ids seulement sur le premier item\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [752, 336],
      "id": "9c56fb57-43a5-40ef-9cb8-4563a85b0b3e",
      "name": "Code JS - Parse réponse DeepSeek"
    },
    {
      "parameters": {
        "chatId": "YOUR_TELEGRAM_CHAT_ID",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [976, 336],
      "id": "4bd686d0-a7ac-43de-b266-a7bea40420b5",
      "name": "Telegram - Envoie digest",
      "webhookId": "29b0b552-085d-46e1-92a2-3a24b257fb8b",
      "credentials": {
        "telegramApi": {
          "id": "kE1pKqsaZAMa2DgZ",
          "name": "RadarDigest_clem58790_Bot"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $json.emailId }}",
        "labelIds": ["Label_853856882183347882"]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [1424, 336],
      "id": "de2189d7-2b15-436f-870a-74aa3767efc9",
      "name": "Gmail - Ajoute label digest",
      "webhookId": "b24e19a7-68fa-43d4-9be9-331ce4fc8d31",
      "credentials": {
        "gmailOAuth2": {
          "id": "FP3J5H6SOdZtaoAL",
          "name": "COMPTE GMAIL PERSO"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [1],
              "triggerAtHour": 6
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [-592, 432],
      "id": "0d5576fe-c516-42c6-9488-b92c49aa05e7",
      "name": "Trigger - Analyse newsletters hebdo"
    },
    {
      "parameters": {
        "operation": "getAll",
        "simple": false,
        "filters": {
          "labelIds": ["Label_384"],
          "receivedAfter": "={{ $now.minus({days: 7}).toFormat('yyyy-MM-dd') }}"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [-368, 432],
      "id": "68286190-d3ea-4798-b6d7-8e75929872a3",
      "name": "Get many messages1",
      "webhookId": "a6ec4ac9-9193-45ec-9efe-0aff10f32f35",
      "credentials": {
        "gmailOAuth2": {
          "id": "FP3J5H6SOdZtaoAL",
          "name": "COMPTE GMAIL PERSO"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 3,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "8f46d26e-a6ee-468f-9053-3683f5246baa",
              "leftValue": "={{ $json.nb }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [80, 432],
      "id": "28ee316c-b346-433f-a8ca-dfeb0bee8877",
      "name": "Si - Newsletters trouvées"
    },
    {
      "parameters": {
        "chatId": "YOUR_TELEGRAM_CHAT_ID",
        "text": "📭 Aucune newsletter cette semaine.",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [304, 528],
      "id": "6664273d-55dd-46b2-9617-bff37b0b3b55",
      "name": "Telegram - Envoie aucune NL",
      "webhookId": "29b0b552-085d-46e1-92a2-3a24b257fb8b",
      "credentials": {
        "telegramApi": {
          "id": "kE1pKqsaZAMa2DgZ",
          "name": "RadarDigest_clem58790_Bot"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "var bloc = $input.first().json.bloc;\nvar nb = $input.first().json.nb;\n\nvar body = {\n  model: \"deepseek-v4-flash\",\n  temperature: 0.3,\n  messages: [\n    {\n      role: \"system\",\n      content: \"Tu es un assistant de veille informationnelle. Tu analyses des newsletters et extrais uniquement les informations vraiment intéressantes ou actionnables. Tu ignores le contenu promotionnel, les annonces sans valeur, et les redites. Tu regroupes les insights par grande thématique. Tu réponds UNIQUEMENT en JSON valide sans backticks.\"\n    },\n    {\n      role: \"user\",\n      content: \"Voici \" + nb + \" newsletters reçues cette semaine :\\n\\n\" + bloc + \"\\n\\nAnalyse-les et réponds avec ce JSON :\\n{\\\"themes\\\":[{\\\"nom\\\":\\\"Nom du thème\\\",\\\"emoji\\\":\\\"emoji\\\",\\\"points\\\":[{\\\"titre\\\":\\\"titre court\\\",\\\"detail\\\":\\\"2-3 phrases\\\",\\\"source\\\":\\\"newsletter source\\\",\\\"actionnable\\\":true}]}],\\\"a_retenir\\\":\\\"point le plus important en 1 phrase\\\",\\\"nb_newsletters\\\":\" + nb + \"}\"\n    }\n  ]\n};\n\nreturn [{ json: { body: body } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [304, 336],
      "id": "503a538c-a67f-4f48-9afc-5030d625fd1c",
      "name": "Code JS - Prépare prompt DeepSeek"
    },
    {
      "parameters": {
        "jsCode": "// Récupère les IDs stockés dans le nœud de préparation\nvar ids = $('Code JS - Prépare').first().json.ids;\n\n// Retourne un item par ID pour que Gmail Add Label boucle\nreturn ids.map(function(id) {\n  return { json: { emailId: id } };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1200, 336],
      "id": "9f74a3a8-79ef-4a53-95e3-b76f1a8550c5",
      "name": "Code JS - Extrait IDs emails"
    },
    {
      "parameters": {
        "jsCode": "const emails = $input.all();\n\n// Remplace par l'ID réel de ton label digest-done\nvar DIGEST_DONE_LABEL = 'Label_853856882183347882';\n\nconst stripHtml = function(html) {\n  return html\n    .replace(/<style[^>]*>[\\s\\S]*?<\\/style>/gi, '')\n    .replace(/<script[^>]*>[\\s\\S]*?<\\/script>/gi, '')\n    .replace(/<!--[\\s\\S]*?-->/g, '')\n    .replace(/<[^>]+>/g, ' ')\n    .replace(/&nbsp;/g, ' ')\n    .replace(/&amp;/g, '&')\n    .replace(/&apos;/g, \"'\")\n    .replace(/&lt;/g, '<')\n    .replace(/&gt;/g, '>')\n    .replace(/&shy;/g, '')        // ← tiret conditionnel\n    .replace(/&zwnj;/g, '')       // ← espace sans jonction\n    .replace(/&#[0-9]+;/g, '')    // ← tous les codes HTML numériques\n    .replace(/[\\u200c\\u200b\\u00ad\\u0083\\u008d]/g, '')  // ← caractères invisibles unicode\n    .replace(/͏/g, '')             // ← U+034F combining grapheme joiner\n    .replace(/\\s{2,}/g, ' ')\n    .trim();\n};\n\nconst newsletters = emails\n  .filter(function(e) {\n    var labels = e.json.labelIds || [];\n    return !labels.includes(DIGEST_DONE_LABEL);\n  })\n  .map(function(e) {\n    var from = e.json.from;\n    var expediteur = (from && from.value && from.value[0])\n      ? (from.value[0].name || from.value[0].address)\n      : 'Inconnu';\n\n    return {\n      id:         e.json.id,\n      expediteur: expediteur,\n      sujet:      e.json.subject || '',\n      contenu:    stripHtml(e.json.html || e.json.text || '').slice(0, 2000)\n    };\n  });\n\nif (newsletters.length === 0) {\n  return [{ json: { hasNewsletters: false } }];\n}\n\nconst bloc = newsletters.map(function(n, i) {\n  return '--- NEWSLETTER #' + (i + 1) + ' ---\\n' +\n    'De : ' + n.expediteur + '\\n' +\n    'Sujet : ' + n.sujet + '\\n' +\n    'Contenu : ' + n.contenu;\n}).join('\\n\\n');\n\nreturn [{\n  json: {\n    hasNewsletters: true,\n    bloc: bloc,\n    ids: newsletters.map(function(n) { return n.id; }),\n    nb: newsletters.length\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-144, 432],
      "id": "3c5bf26c-11bd-4da6-b372-ca3827da0ca1",
      "name": "Code JS - Prépare"
    }
  ],
  "connections": {
    "API DeepSeek - Analyse newsletters": {
      "main": [[{ "node": "Code JS - Parse réponse DeepSeek", "type": "main", "index": 0 }]]
    },
    "Code JS - Parse réponse DeepSeek": {
      "main": [[{ "node": "Telegram - Envoie digest", "type": "main", "index": 0 }]]
    },
    "Telegram - Envoie digest": {
      "main": [[{ "node": "Code JS - Extrait IDs emails", "type": "main", "index": 0 }]]
    },
    "Trigger - Analyse newsletters hebdo": {
      "main": [[{ "node": "Get many messages1", "type": "main", "index": 0 }]]
    },
    "Get many messages1": {
      "main": [[{ "node": "Code JS - Prépare", "type": "main", "index": 0 }]]
    },
    "Si - Newsletters trouvées": {
      "main": [
        [{ "node": "Code JS - Prépare prompt DeepSeek", "type": "main", "index": 0 }],
        [{ "node": "Telegram - Envoie aucune NL", "type": "main", "index": 0 }]
      ]
    },
    "Code JS - Prépare prompt DeepSeek": {
      "main": [[{ "node": "API DeepSeek - Analyse newsletters", "type": "main", "index": 0 }]]
    },
    "Code JS - Extrait IDs emails": {
      "main": [[{ "node": "Gmail - Ajoute label digest", "type": "main", "index": 0 }]]
    },
    "Code JS - Prépare": {
      "main": [[{ "node": "Si - Newsletters trouvées", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "errorWorkflow": "wg0YurkUmY4jQap6",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  }
}
