workflows/ia-outils/contexte-lea-yealink/workflow.json
{
  "name": "Contexte Léa → Yealink",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "path": "lea-transfer-context",
        "responseMode": "lastNode",
        "options": {},
        "authentication": "headerAuth"
      },
      "name": "Webhook - Requête Léa contexte",
      "type": "n8n-nodes-base.webhook",
      "position": [0, 0],
      "id": "64d7d21e-da46-4b8c-b60f-16b5eabd54dd",
      "typeVersion": 2.1,
      "webhookId": "b9ba2a3f-f49a-44c9-bb9e-398ba1b8c925",
      "credentials": {
        "httpHeaderAuth": {
          "id": "G5SBA0FXpVZKTBj6",
          "name": "n8n Internal Webhook Secret"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst data = input.body || {};\n\n// Construction du texte affiché (max 32 caractères)\nconst display = `${data.contact_name || 'Client'} - ${data.motif || ''}`\n  .trim()\n  .substring(0, 32);\n\n// Résultat\nreturn [\n  {\n    json: {\n      caller_id: data.caller_id || '',\n      display_name: display,\n      contact_name: data.contact_name || 'Client',\n      motif: data.motif || '',\n      urgence: data.urgence || false,\n      adresse: data.adresse || '',\n    },\n  },\n];"
      },
      "name": "Code JS - Prépare contexte",
      "type": "n8n-nodes-base.code",
      "position": [224, 0],
      "id": "33f86166-c3e8-4162-8a7a-0f6366b84451",
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "const net = require('net');\n\nconst AMI_HOST = 'freepbx';\nconst AMI_PORT = 5038;\nconst AMI_USER = 'n8n';\nconst AMI_PASS = 'YOUR_AMI_PASSWORD';\n\nconst input = $input.first().json;\n\nreturn new Promise((resolve, reject) => {\n  const client = new net.Socket();\n\n  let buffer = '';\n  let loggedIn = false;\n  let step = 0;\n\n  client.connect(AMI_PORT, AMI_HOST, () => {\n    const loginAction =\n      `Action: Login\\r\\n` +\n      `Username: ${AMI_USER}\\r\\n` +\n      `Secret: ${AMI_PASS}\\r\\n\\r\\n`;\n\n    client.write(loginAction);\n  });\n\n  client.on('data', (dataIn) => {\n    buffer += dataIn.toString();\n\n    // Étape 1 — Auth OK → Originate avec CallerID personnalisé\n    if (!loggedIn && buffer.includes('Authentication accepted')) {\n      loggedIn = true;\n      step = 1;\n\n      const originateAction =\n        `Action: Originate\\r\\n` +\n        `Channel: SIP/100\\r\\n` +\n        `Exten: ${input.caller_id}\\r\\n` +\n        `Context: from-trunk\\r\\n` +\n        `Priority: 1\\r\\n` +\n        `CallerID: \"${input.display_name}\" <${input.caller_id}>\\r\\n` +\n        `Variable: MOTIF=${input.motif || ''},URGENCE=${input.urgence || ''},ADRESSE=${input.adresse || ''}\\r\\n` +\n        `Timeout: 30000\\r\\n` +\n        `Async: true\\r\\n\\r\\n`;\n\n      client.write(originateAction);\n    }\n\n    // Succès → fermeture propre\n    if (step === 1 && buffer.includes('Response: Success')) {\n      client.write('Action: Logoff\\r\\n\\r\\n');\n      client.destroy();\n\n      resolve([\n        {\n          json: {\n            success: true,\n            display: input.display_name,\n          },\n        },\n      ]);\n    }\n\n    // Erreur AMI\n    if (buffer.includes('Response: Error')) {\n      client.destroy();\n      reject(new Error(`AMI error: ${buffer}`));\n    }\n  });\n\n  client.on('error', (err) => {\n    client.destroy();\n    reject(err);\n  });\n\n  // Timeout de sécurité\n  setTimeout(() => {\n    client.destroy();\n    reject(new Error('AMI timeout'));\n  }, 10000);\n});"
      },
      "name": "Code JS - AMI SetVar et Transfert",
      "type": "n8n-nodes-base.code",
      "position": [448, 0],
      "id": "f1bfb1ba-c34e-4325-81ab-f6637b33064e",
      "typeVersion": 2
    },
    {
      "parameters": {
        "options": {}
      },
      "name": "Webhook - Répond à Léa",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [672, 0],
      "id": "3a1a0c9a-a0b6-4c63-86c1-f4d26c809c53",
      "typeVersion": 1.5
    }
  ],
  "connections": {
    "Webhook - Requête Léa contexte": {
      "main": [
        [
          {
            "node": "Code JS - Prépare contexte",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code JS - Prépare contexte": {
      "main": [
        [
          {
            "node": "Code JS - AMI SetVar et Transfert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code JS - AMI SetVar et Transfert": {
      "main": [
        [
          {
            "node": "Webhook - Répond à Léa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "errorWorkflow": "wg0YurkUmY4jQap6",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "tags": ["IA & OUTILS", "NOVA SONIC"]
}
