workflows/tech-infrastructure/nettoyage-des-dossier-back-up-vps/workflow.json
{
  "name": "NETTOYAGE DES DOSSIER BACK UP VPS",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 4
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [0, 0],
      "id": "723b3e60-e4fc-473a-80d3-4b776433f763",
      "name": "Trigger - Nettoyage backups VPS"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "YOUR_GOOGLE_DRIVE_FOLDER_ID",
            "mode": "list",
            "cachedResultName": "BACK UP VPS OVH",
            "cachedResultUrl": "https://drive.google.com/drive/folders/YOUR_GOOGLE_DRIVE_FOLDER_ID"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [208, 0],
      "id": "fa7aa506-a34f-4b7c-b39f-fc583ddb1aa5",
      "name": "Drive - Liste dossiers backup",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "retRXJnEB8w6LRgr",
          "name": "connexion google sheet emafuites"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return items.filter(item => {\n  const folderDate = DateTime.fromISO(item.json.name);\n  const limitDate = DateTime.now()\n    .setZone('Europe/Paris')\n    .minus({ days: 30 })\n    .startOf('day');\n\n  return folderDate < limitDate;\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [416, 0],
      "id": "2697950a-228b-4b9c-95f8-8e7bb100f6fc",
      "name": "Code JS - Filtre dossiers -30j"
    },
    {
      "parameters": {
        "resource": "folder",
        "operation": "deleteFolder",
        "folderNoRootId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [624, 0],
      "id": "634f486e-3365-4b27-8628-807544ca2fca",
      "name": "Drive - Supprime dossier ancien",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "retRXJnEB8w6LRgr",
          "name": "connexion google sheet emafuites"
        }
      }
    }
  ],
  "connections": {
    "Trigger - Nettoyage backups VPS": {
      "main": [[{ "node": "Drive - Liste dossiers backup", "type": "main", "index": 0 }]]
    },
    "Drive - Liste dossiers backup": {
      "main": [[{ "node": "Code JS - Filtre dossiers -30j", "type": "main", "index": 0 }]]
    },
    "Code JS - Filtre dossiers -30j": {
      "main": [[{ "node": "Drive - Supprime dossier ancien", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "errorWorkflow": "wg0YurkUmY4jQap6",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  }
}
