workflows/tech-infrastructure/alerte-non-lancement-workflow/workflow.json
{
  "name": "ALERTE NON LANCEMENT WORKFLOW",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 1,
              "triggerAtMinute": 30
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [0, 0],
      "id": "7f3846f8-89c9-45af-afa5-601747b18ee4",
      "name": "Trigger - Vérif lancement workflow"
    },
    {
      "parameters": {
        "resource": "execution",
        "limit": 5,
        "filters": {
          "workflowId": {
            "__rl": true,
            "value": "sUiJsTPeLfTWGYMT",
            "mode": "list",
            "cachedResultName": "SAUVEGARDE WORKFLOW N8N (#sUiJsTPeLfTWGYMT)"
          }
        },
        "options": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [224, 0],
      "id": "a0986e35-69a3-4ff2-95c6-9d066a31efec",
      "name": "n8n - Récupère exécutions",
      "credentials": {
        "n8nApi": {
          "id": "LuFO2lPkS3PFcSxw",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 3,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "50c24b33-37c2-48c0-9379-0139fcd008af",
              "leftValue": "={{ $json.status }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [672, 0],
      "id": "e5117ad8-aedc-41b6-974c-ad5b6628ea67",
      "name": "Si - Aucune exécution ?"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\n// Obtenir la date du jour en timezone Paris\nconst today = new Date().toLocaleDateString('fr-CA', {\n  timeZone: 'Europe/Paris'\n});\n\nconst result = items\n  .map(item => {\n    const utcDate = new Date(item.json.startedAt);\n\n    // Conversion automatique vers Europe/Paris (gère été/hiver)\n    const parisDate = new Date(\n      utcDate.toLocaleString('en-US', { timeZone: 'Europe/Paris' })\n    );\n\n    return {\n      item,\n      date: parisDate,\n      dateStr: parisDate.toLocaleDateString('fr-CA')\n    };\n  })\n  // Filtrer uniquement aujourd’hui (heure Paris)\n  .filter(i => i.dateStr === today)\n  // Trier du plus récent au plus ancien\n  .sort((a, b) => b.date - a.date);\n\nreturn result.length ? [result[0].item] : [];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [448, 0],
      "id": "58d07468-757c-458f-b2ed-d9faf7d16a71",
      "name": "Code JS - Filtre exécutions"
    },
    {
      "parameters": {
        "chatId": "YOUR_TELEGRAM_CHAT_ID",
        "text": "le workflow SAUVEGARDE WORKFLOW N8N ne s'est pas lancé auj",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [896, 0],
      "id": "2c314606-5703-4a19-b0f5-a05333f36838",
      "name": "Telegram - Alerte non-lancement",
      "webhookId": "8463b697-a064-4d50-ac33-ea54bda40664",
      "credentials": {
        "telegramApi": {
          "id": "zteuycKXeHxzAROh",
          "name": "notif_erreur_workflow_n8n_bot"
        }
      }
    }
  ],
  "connections": {
    "Trigger - Vérif lancement workflow": {
      "main": [[{ "node": "n8n - Récupère exécutions", "type": "main", "index": 0 }]]
    },
    "n8n - Récupère exécutions": {
      "main": [[{ "node": "Code JS - Filtre exécutions", "type": "main", "index": 0 }]]
    },
    "Code JS - Filtre exécutions": {
      "main": [[{ "node": "Si - Aucune exécution ?", "type": "main", "index": 0 }]]
    },
    "Si - Aucune exécution ?": {
      "main": [[], [{ "node": "Telegram - Alerte non-lancement", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "errorWorkflow": "wg0YurkUmY4jQap6",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  }
}
