workflows/marketing-acquisition/rapport-journalier-campagne-google-ads/workflow.json
{
  "name": "RAPPORT JOURNALIER CAMPAGNE GOOGLE ADS",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [0, 0],
      "id": "f619750c-fde7-4480-be02-a8d49a22226b",
      "name": "Trigger - Rapport Google Ads quotidien"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://googleads.googleapis.com/v23/customers/5094070441/googleAds:searchStream",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleAdsOAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "developer-token",
              "value": "YOUR_GOOGLE_ADS_DEVELOPER_TOKEN"
            },
            {
              "name": "login-customer-id",
              "value": "5094070441"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"query\": \"SELECT campaign.name, metrics.impressions, metrics.clicks, metrics.cost_micros, metrics.conversions, metrics.ctr, metrics.average_cpc FROM campaign WHERE segments.date DURING YESTERDAY AND campaign.status = 'ENABLED'\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [208, 0],
      "id": "cba1e895-6678-4056-afdf-3308e78ea769",
      "name": "API Google Ads - Métriques campagnes",
      "credentials": {
        "oAuth2Api": {
          "id": "9mSKbGCBz6ivFJ3I",
          "name": "Google Ads API"
        },
        "googleAdsOAuth2Api": {
          "id": "sSvALaf7wjlxNhHQ",
          "name": "Google Ads account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const results = $input.first().json.results || [];\n\nlet totalImpressions = 0;\nlet totalClics = 0;\nlet totalCout = 0;\nlet totalConversions = 0;\n\nconst lignesCampagnes = results.map(r => {\n  const m = r.metrics;\n  const cout = (m.costMicros / 1_000_000).toFixed(2);\n  totalImpressions  += m.impressions;\n  totalClics        += m.clicks;\n  totalCout         += parseFloat(cout);\n  totalConversions  += m.conversions;\n\n  return {\n    campagne:     r.campaign.name,\n    impressions:  m.impressions,\n    clics:        m.clicks,\n    cout:         parseFloat(cout),\n    conversions:  m.conversions,\n    ctr:          (m.ctr * 100).toFixed(2) + '%',\n    cpc:          (m.averageCpc / 1_000_000).toFixed(2)\n  };\n});\n\nconst cpa = totalConversions > 0\n  ? (totalCout / totalConversions).toFixed(2)\n  : 'N/A';\n\nconst alerteBudget = totalCout > 40; // adapte selon ton budget journalier\n\nreturn [{\n  json: {\n    date: $today.minus({days: 1}).toFormat('dd/MM/yyyy'),\n    campagnes: lignesCampagnes,\n    totalImpressions,\n    totalClics,\n    totalCout: totalCout.toFixed(2),\n    totalConversions,\n    cpa,\n    alerteBudget\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [416, 0],
      "id": "cdc8037a-73ed-4b19-bdf8-9fa0991aca8d",
      "name": "Code JS - Agrège métriques"
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first().json;\n\nconst alerte = d.alerteBudget\n  ? '\\n⚠️ <b>Budget journalier dépassé 80% — vérifier le rythme de diffusion</b>'\n  : '';\n\nconst lignes = d.campagnes.map(c =>\n  `📌 <b>${c.campagne}</b>\\n` +\n  `   ${c.clics} clics · ${c.cout}€ · CPC ${c.cpc}€ · ${c.conversions} conv.`\n).join('\\n\\n');\n\nconst message =\n`💶 <b>Rapport Google Ads — ${d.date}</b>\n${alerte}\n\n<b>Résumé global</b>\n👁 Impressions  : ${d.totalImpressions}\n🖱 Clics        : ${d.totalClics}\n💸 Dépense      : ${d.totalCout} €\n🎯 Conversions  : ${d.totalConversions}\n📉 CPA          : ${d.cpa} €\n\n<b>Détail par campagne</b>\n${lignes}`;\n\nreturn [{ json: { message } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [624, 0],
      "id": "feca43f1-5f37-4426-bc80-2f4ea04bc735",
      "name": "Code JS - Formate rapport"
    },
    {
      "parameters": {
        "chatId": "YOUR_TELEGRAM_CHAT_ID",
        "text": "={{ $json.message }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [832, 0],
      "id": "a0cb7b74-3b78-4428-bc39-0147d1c88d3f",
      "name": "Telegram - Envoie rapport",
      "webhookId": "c6472bdc-bd83-483a-a757-aec966261ea7",
      "credentials": {
        "telegramApi": {
          "id": "MxotDkEtya5DiMOd",
          "name": "RAPPORT_SEO_HEBDOMADAIRE_BOT"
        }
      }
    }
  ],
  "connections": {
    "Trigger - Rapport Google Ads quotidien": {
      "main": [[{ "node": "API Google Ads - Métriques campagnes", "type": "main", "index": 0 }]]
    },
    "API Google Ads - Métriques campagnes": {
      "main": [[{ "node": "Code JS - Agrège métriques", "type": "main", "index": 0 }]]
    },
    "Code JS - Agrège métriques": {
      "main": [[{ "node": "Code JS - Formate rapport", "type": "main", "index": 0 }]]
    },
    "Code JS - Formate rapport": {
      "main": [[{ "node": "Telegram - Envoie rapport", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "errorWorkflow": "wg0YurkUmY4jQap6",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  }
}
