workflows/tri-gmail-multi-comptes/tri-gmail-compte-mea-version-deek-seek/workflow.json
{
  "name": "TRI GMAIL COMPTE MEA version deek seek",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "operation": "getAll",
        "returnAll": true,
        "filters": {
          "labelIds": [
            "INBOX"
          ],
          "receivedBefore": "={{ $today.minus({ months: 1 }).toFormat('yyyy/MM/dd') }}"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        448,
        -400
      ],
      "id": "5320e49e-9226-4f70-8bf0-79080fce1559",
      "name": "Get many messages",
      "webhookId": "5340e929-c23b-4206-adb6-b0b58bea08ea",
      "credentials": {
        "gmailOAuth2": {
          "id": "UDrHZnkx1bluaTgc",
          "name": "COMPTE GMAIL MEA"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -224,
        -400
      ],
      "id": "dc94f2ce-b973-4166-81a1-d95a3a343931",
      "name": "Trigger - Tri Gmail MEA"
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "internalDate"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        672,
        -400
      ],
      "id": "d13885a6-c051-4b42-b0d0-afdada540efb",
      "name": "Trie - Par date"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "86ad8d2c-d9ab-4c83-8849-0c0d9e0ee5fa",
              "leftValue": "={{ $json.deja_classe }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1344,
        -400
      ],
      "id": "2bbbc1b3-90e2-4d21-8a3f-4443fb1e5687",
      "name": "Si - Email déjà classé"
    },
    {
      "parameters": {
        "jsCode": "// 1. On récupère les emails d'origine du nœud Limit\nconst emailsOriginaux = $('Limit').all();\n\n// 2. On récupère les Threads qu'on vient de télécharger\nconst threads = $input.all();\n\nlet resultats = [];\n\n// 3. On traite chaque email un par un\nemailsOriginaux.forEach((emailItem, index) => {\n  let dossiersPersos = [];\n  const threadActuel = threads[index].json;\n\n  // 4. On fouille dans la conversation\n  if (threadActuel.messages) {\n    threadActuel.messages.forEach(msg => {\n      if (msg.labels) {\n        msg.labels.forEach(label => {\n          if (label.id.startsWith('Label_') && !dossiersPersos.some(d => d.id === label.id)) {\n            dossiersPersos.push({ id: label.id, name: label.name });\n          }\n        });\n      }\n    });\n  }\n\n  // 5. On prépare le paquet final AVEC LE FIL D'ARIANE\n  resultats.push({\n    json: {\n      ...emailItem.json, \n      deja_classe: dossiersPersos.length > 0,\n      dossiers_trouves: dossiersPersos\n    },\n    // 👇 LA LIGNE MAGIQUE QUI RÉPARE L'ERREUR 👇\n    pairedItem: { item: index } \n  });\n});\n\nreturn resultats;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        -400
      ],
      "id": "6f43c261-09bc-4f1b-8bc0-70298eb62851",
      "name": "Code JS - Détecte dossiers"
    },
    {
      "parameters": {
        "jsCode": "const allItems = $input.all();\n\n// On ignore uniquement les labels système inutiles pour le classement\nconst systemLabelsToIgnore = [\n  'chat', 'draft', 'trash', 'spam', 'starred', 'unread', \n  'category_', 'circle', 'star'\n];\n\nconst labelsPropres = allItems\n  .map(item => item.json)\n  .filter(label => {\n    const n = label.name.toLowerCase();\n    \n    // 1. On vire le \"bruit\" système\n    if (systemLabelsToIgnore.some(sys => n.includes(sys))) return false;\n    \n    // 2. On ne garde que tes dossiers (type \"user\")\n    // On peut aussi garder INBOX ou SENT si tu veux, mais pour classer, on ne garde que les dossiers créés par toi.\n    return label.type === 'user';\n  })\n  .map(label => `- [${label.id}] : ${label.name}`);\n\nreturn [{\n  json: {\n    liste_dossiers_texte: labelsPropres.join('\\n'),\n    stats: {\n      labels_envoyes_ia: labelsPropres.length\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        -400
      ],
      "id": "73d6f6a5-dc61-411c-b077-3ced8858b9ce",
      "name": "Code JS - Filtre labels"
    },
    {
      "parameters": {
        "resource": "label",
        "returnAll": true
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        0,
        -400
      ],
      "id": "2bf8177f-2b57-496a-8ba3-7776a9b3e3de",
      "name": "Get many labels",
      "webhookId": "0bec9839-33eb-4031-ba35-3493d2c83c7b",
      "credentials": {
        "gmailOAuth2": {
          "id": "UDrHZnkx1bluaTgc",
          "name": "COMPTE GMAIL MEA"
        }
      }
    },
    {
      "parameters": {
        "operation": "removeLabels",
        "messageId": "={{ $json.id }}",
        "labelIds": [
          "INBOX"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        4256,
        -424
      ],
      "id": "56a593b3-e6f6-4ed1-b975-1bf124d973d9",
      "name": "Remove label from message",
      "webhookId": "87840cf7-5e4e-4120-8b3b-8a9246d1ca81",
      "credentials": {
        "gmailOAuth2": {
          "id": "UDrHZnkx1bluaTgc",
          "name": "COMPTE GMAIL MEA"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Limit').item.json.id }}",
        "labelIds": "={{ $json.dossiers_trouves.map(d => d.id) }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1568,
        -496
      ],
      "id": "aba707a5-6bbb-4ab9-bcb2-13caba82ac2e",
      "name": "Add label to message",
      "webhookId": "75697d33-9b95-4cdb-aff4-83a730de69fc",
      "credentials": {
        "gmailOAuth2": {
          "id": "UDrHZnkx1bluaTgc",
          "name": "COMPTE GMAIL MEA"
        }
      }
    },
    {
      "parameters": {
        "operation": "removeLabels",
        "messageId": "={{ $('Si - Email déjà classé').item.json.id }}",
        "labelIds": [
          "INBOX"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1792,
        -496
      ],
      "id": "20b35e35-da3c-46ed-a1d8-bb70eb9ea784",
      "name": "Remove label from message1",
      "webhookId": "df3c3b5f-cf15-4f85-ba5f-1fc51798bc7b",
      "credentials": {
        "gmailOAuth2": {
          "id": "UDrHZnkx1bluaTgc",
          "name": "COMPTE GMAIL MEA"
        }
      }
    },
    {
      "parameters": {
        "resource": "thread",
        "operation": "get",
        "threadId": "={{ $json.threadId }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        896,
        -400
      ],
      "id": "91529b53-1071-40b5-afbf-856b3fdf2d0e",
      "name": "Get a thread",
      "webhookId": "8f3a015a-f6b4-47c3-9cc0-98fa0e5592d5",
      "alwaysOutputData": true,
      "credentials": {
        "gmailOAuth2": {
          "id": "UDrHZnkx1bluaTgc",
          "name": "COMPTE GMAIL MEA"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Si - Email déjà classé').item.json.id }}",
        "labelIds": "={{ $json.labelId }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        4032,
        -424
      ],
      "id": "44ed796d-1042-4308-952a-3eb2bac2353e",
      "name": "Add label to message1",
      "webhookId": "19c8c2bf-33d5-4bc0-9d8c-4fe4793552ac",
      "credentials": {
        "gmailOAuth2": {
          "id": "UDrHZnkx1bluaTgc",
          "name": "COMPTE GMAIL MEA"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID_TRI_MEA",
          "mode": "list",
          "cachedResultName": "TRI GMAIL COMPTE MEA",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEET_ID_TRI_MEA/edit"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Feuille 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEET_ID_TRI_MEA/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Sujet": "={{ $('Code JS - Parse classif').item.json.subject }}",
            "Expéditeur": "={{ $('Code JS - Parse classif').item.json.sender }}",
            " Nom du Dossier.": "={{ $('Code in JavaScript4').item.json.labelName }}",
            "Résumé": "={{ $('Code JS - Parse classif').item.json.reason }}",
            "Tokens Input": "={{ $('API DeepSeek - Classifie').item.json.usage.prompt_tokens }}",
            "Tokens Output": "={{ $('API DeepSeek - Classifie').item.json.usage.completion_tokens }}",
            "Tokens Cache Lu": "={{ $('API DeepSeek - Classifie').item.json.usage.prompt_tokens_details.cached_tokens }}",
            "Date": "={{ $('Code JS - Parse classif').item.json.formattedDate }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Expéditeur",
              "displayName": "Expéditeur",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Sujet",
              "displayName": "Sujet",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": " Nom du Dossier.",
              "displayName": " Nom du Dossier.",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Résumé",
              "displayName": "Résumé",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Tokens Input",
              "displayName": "Tokens Input",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Tokens Cache Créé",
              "displayName": "Tokens Cache Créé",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Tokens Cache Lu",
              "displayName": "Tokens Cache Lu",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Tokens Output",
              "displayName": "Tokens Output",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Coût estimé ($)",
              "displayName": "Coût estimé ($)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "System Hash",
              "displayName": "System Hash",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "System Length",
              "displayName": "System Length",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        4480,
        -424
      ],
      "id": "34741d40-86a1-4499-af22-03c0dee5d1d3",
      "name": "Append row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "rCFvQBVaQVzg9Lrq",
          "name": "CLIENT OAUTH COMPTE GOOGLE SHEET EMAFUITES"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "return {\n  json: {\n    ...$json,\n    From: ($json.From || '')\n      .replace(/<[^>]*>/g, '')\n      .replace(/\"/g, '')\n      .trim(),\n    Subject: ($json.Subject || '')\n      .replace(/\"/g, \"'\")\n      .replace(/[\\r\\n]+/g, ' ')\n      .trim(),\n    snippet: ($json.snippet || '')\n      .replace(/[\\u034F\\u00AD\\u200B-\\u200D\\uFEFF]/g, '')\n      .replace(/͏/g, '')\n      .replace(/\"/g, \"'\")\n      .replace(/[\\r\\n]+/g, ' ')\n      .trim()\n      .substring(0, 500)\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3136,
        -424
      ],
      "id": "068dc559-c5d7-4f21-b458-03eaa396c7b6",
      "name": "Code JS - Nettoie email"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.deepseek.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "deepSeekApi",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.requestBody }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        3584,
        -424
      ],
      "id": "f38faa58-72fc-4ad9-b16c-b9ee231ad05c",
      "name": "API DeepSeek - Classifie",
      "credentials": {
        "oAuth2Api": {
          "id": "TliXgPxpJQmgqDP0",
          "name": "Google Search Console API"
        },
        "deepSeekApi": {
          "id": "MBt6ozX97KVIAwcD",
          "name": "DeepSeek account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const listesDossiers = $('Code JS - Filtre labels').item.json.liste_dossiers_texte;\n\nconst systemPrompt = `Tu es un automate d'analyse et de classification d'emails professionnels. Ta mission est d'analyser chaque email entrant de la société MEA, de déterminer son classement dans une arborescence stricte, et d'extraire les données nécessaires. Tu ne disposes d'aucun outil. Tu dois répondre UNIQUEMENT par un objet JSON valide, sans aucun texte avant ou après.\n\nLISTE STRICTE ET EXHAUSTIVE DES DOSSIERS AUTORISÉS (ID : Nom) :\n${listesDossiers}\n\n🛠 MÉTHODOLOGIE DE CLASSEMENT (Par ordre de priorité) :\n\nRECHERCHE DE RÉFÉRENCES EXACTES :\nScanne l'objet et le contenu pour trouver une affaire juridique spécifique ou un contexte pro précis.\n\nAffaires Juridiques — correspondance EXACTE requise :\n- \"CLIENT_ASSURANCE_A\" ou \"référé provision\" → Label_2066904351082011065\n- \"CLIENT_B\" ou \"référé expertise\" → Label_4074617951559200766\n- \"CLIENT_C\" ou \"expertise véhicule\" → Label_5266494009416745011\n- \"DOSSIER_JURIDIQUE_A\" ou \"non concurrence\" → Label_6871182630302476523\n- \"DOSSIER_JURIDIQUE_B\" ou \"référé permis\" → Label_7410096302240733424\n- \"DOSSIER_JURIDIQUE_C\" ou \"prud'homme\" → Label_9038924767005744113\n- Juridique général sans référence exacte → Label_6137983776475129093\n\nContextes Pro — correspondance exacte :\n- \"CLIENT_D\" → Label_7625718522189934519\n- Prestataire web, site web, WordPress → Label_540509777898634867\n\nDÉDUCTION SÉMANTIQUE (DOMAINES RÉSERVÉS) :\nSi aucune référence exacte n'est trouvée, utilise ces correspondances logiques :\n- RH, contrat, salarié, embauche, paie, congés → Label_41 (Ressources Humaines)\n- Prospection sortante, démarchage, partenariat → Label_46 (Prospection)\n- Logiciel, abonnement, outil, SaaS, licence, support technique, badge, statistiques → Label_7954378272153982042 (Outils & Logiciels)\n- Webinaire, formation, conférence → Label_9004198069738018068 (Business Development/Webinaires)\n- Business development, développement commercial → Label_9187983965147565821 (Business Development)\n- Fournisseur, prestataire, facture fournisseur → Label_9208886135847648042 (FOURNISSEURS)\n\nLEADS ENTRANTS — règle stricte :\nUniquement les demandes de devis ou contacts clients entrants (particulier ou entreprise \nqui contacte MEA pour une prestation) → Label_7794235680266595855\n⚠️ Les emails de fournisseurs, outils SaaS ou prestataires qui démarchent MEA \nne sont PAS des leads entrants → classer dans Outils & Logiciels, Prospection \nou FOURNISSEURS selon le contexte.\n\nRÈGLE DE REPLI (FALLBACK) :\nSi un mail est ambigu ou ne correspond à aucun sous-dossier, utilise le dossier parent le plus proche parmi : JURIDIQUE, Business Development, ou Administration/VAV.\n\n📝 INSTRUCTIONS DE SORTIE (FORMAT JSON OBLIGATOIRE) :\nStructure JSON exigée :\n{\n  \"labelId\": \"L'ID exact du label choisi dans la liste\",\n  \"labelName\": \"Le nom clair du dossier correspondant à l'ID\",\n  \"formattedDate\": \"Le timestamp internalDate converti exactement au format JJ/MM/AAAA HH:mm\",\n  \"sender\": \"L'expéditeur brut de l'email\",\n  \"subject\": \"Le sujet brut de l'email\",\n  \"reason\": \"Justification du choix en 10 mots maximum en français\"\n}\n\n⚠️ RÈGLES DE SÉCURITÉ INFRANGIBLES :\nZÉRO INVENTION : Utilise uniquement un ID et un Nom présents dans la liste fournie.\nJSON PUR : Ta réponse doit commencer par { et finir par }. Pas de texte, pas de \\`\\`\\`json.\nLANGUE : Rédige le champ \"reason\" en français uniquement.\nPRÉCAUTION : Si l'email contient une urgence absolue (convocation, huissier, mise en demeure), utilise le dossier JURIDIQUE parent (Label_6137983776475129093).`;\n\nconst userMessage = `Expéditeur : ${$json.From}\nSujet : ${$json.Subject}\nContenu : ${$json.snippet}\nDate : ${$json.internalDate}`;\n\nreturn {\n  json: {\n    ...$json,\n    requestBody: JSON.stringify({\n      model: \"deepseek-chat\",\n      temperature: 0,\n      max_tokens: 500,\n      messages: [\n        { role: \"system\", content: systemPrompt },\n        { role: \"user\", content: userMessage }\n      ]\n    })\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3360,
        -424
      ],
      "id": "7e5c843c-4f5b-4fef-b33c-e8841948b29d",
      "name": "Code JS - Prépare classif"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const message = $json.choices[0].message;\nconst text = (message.content || message.reasoning_content || '').trim();\n\nif (!text) {\n  return { \n    json: { \n      error: true, \n      emailId: $json.id,\n      raw: 'content vide'\n    }\n  };\n}\n\n// Nettoyage\nconst cleaned = text\n  .replace(/^```json\\n?/, '')\n  .replace(/```$/, '')\n  .trim();\n\ntry {\n  return { json: JSON.parse(cleaned) };\n} catch(e) {\n  return { \n    json: { \n      error: true, \n      emailId: $json.id,\n      raw: cleaned\n    }\n  };\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3808,
        -424
      ],
      "id": "49096a9d-6e45-4499-b2d6-e235a0a215f3",
      "name": "Code JS - Parse classif"
    },
    {
      "parameters": {
        "jsCode": "const emails = $input.all();\nconst nbEmails = emails.length;\n\n// Seuil : on chauffe le cache seulement si > 5 emails\nconst seuilChauffe = 50;\n\nreturn emails.map((item, index) => ({\n  json: {\n    ...item.json,\n    nb_emails: nbEmails,\n    chauffe_necessaire: nbEmails > seuilChauffe,\n    index: index\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1568,
        -304
      ],
      "id": "2656e833-676b-4ebd-96f5-7c8088c8b81e",
      "name": "Code JS - Évalue nb emails"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 3,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "c4e4f1bf-c79c-4f0c-94ea-7baf20e5ff62",
              "leftValue": "={{ $json.chauffe_necessaire }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2016,
        -304
      ],
      "id": "ea3898d7-2892-4475-aa0d-e5cf404e8985",
      "name": "Si - Chauffe nécessaire"
    },
    {
      "parameters": {
        "jsCode": "// Node Code \"Chauffe Cache DeepSeek\"\nconst listesDossiers = $('Code JS - Filtre labels').item.json.liste_dossiers_texte;\n\n\nconst systemPrompt = `Tu es un automate d'analyse et de classification d'emails professionnels. Ta mission est d'analyser chaque email entrant de la société MEA, de déterminer son classement dans une arborescence stricte, et d'extraire les données nécessaires. Tu ne disposes d'aucun outil. Tu dois répondre UNIQUEMENT par un objet JSON valide, sans aucun texte avant ou après.\n\nLISTE STRICTE ET EXHAUSTIVE DES DOSSIERS AUTORISÉS (ID : Nom) :\n${listesDossiers}\n\n🛠 MÉTHODOLOGIE DE CLASSEMENT (Par ordre de priorité) :\n\nRECHERCHE DE RÉFÉRENCES EXACTES :\nScanne l'objet et le contenu pour trouver une affaire juridique spécifique ou un contexte pro précis.\n\nAffaires Juridiques — correspondance EXACTE requise :\n- \"CLIENT_ASSURANCE_A\" ou \"référé provision\" → Label_2066904351082011065\n- \"CLIENT_B\" ou \"référé expertise\" → Label_4074617951559200766\n- \"CLIENT_C\" ou \"expertise véhicule\" → Label_5266494009416745011\n- \"DOSSIER_JURIDIQUE_A\" ou \"non concurrence\" → Label_6871182630302476523\n- \"DOSSIER_JURIDIQUE_B\" ou \"référé permis\" → Label_7410096302240733424\n- \"DOSSIER_JURIDIQUE_C\" ou \"prud'homme\" → Label_9038924767005744113\n- Juridique général sans référence exacte → Label_6137983776475129093\n\nContextes Pro — correspondance exacte :\n- \"CLIENT_D\" → Label_7625718522189934519\n- Prestataire web, site web, WordPress → Label_540509777898634867\n\nDÉDUCTION SÉMANTIQUE (DOMAINES RÉSERVÉS) :\nSi aucune référence exacte n'est trouvée, utilise ces correspondances logiques :\n- RH, contrat, salarié, embauche, paie, congés → Label_41 (Ressources Humaines)\n- Prospection sortante, démarchage, partenariat → Label_46 (Prospection)\n- Logiciel, abonnement, outil, SaaS, licence, support technique, badge, statistiques → Label_7954378272153982042 (Outils & Logiciels)\n- Webinaire, formation, conférence → Label_9004198069738018068 (Business Development/Webinaires)\n- Business development, développement commercial → Label_9187983965147565821 (Business Development)\n- Fournisseur, prestataire, facture fournisseur → Label_9208886135847648042 (FOURNISSEURS)\n\nLEADS ENTRANTS — règle stricte :\nUniquement les demandes de devis ou contacts clients entrants (particulier ou entreprise \nqui contacte MEA pour une prestation) → Label_7794235680266595855\n⚠️ Les emails de fournisseurs, outils SaaS ou prestataires qui démarchent MEA \nne sont PAS des leads entrants → classer dans Outils & Logiciels, Prospection \nou FOURNISSEURS selon le contexte.\n\nRÈGLE DE REPLI (FALLBACK) :\nSi un mail est ambigu ou ne correspond à aucun sous-dossier, utilise le dossier parent le plus proche parmi : JURIDIQUE, Business Development, ou Administration/VAV.\n\n📝 INSTRUCTIONS DE SORTIE (FORMAT JSON OBLIGATOIRE) :\nStructure JSON exigée :\n{\n  \"labelId\": \"L'ID exact du label choisi dans la liste\",\n  \"labelName\": \"Le nom clair du dossier correspondant à l'ID\",\n  \"formattedDate\": \"Le timestamp internalDate converti exactement au format JJ/MM/AAAA HH:mm\",\n  \"sender\": \"L'expéditeur brut de l'email\",\n  \"subject\": \"Le sujet brut de l'email\",\n  \"reason\": \"Justification du choix en 10 mots maximum en français\"\n}\n\n⚠️ RÈGLES DE SÉCURITÉ INFRANGIBLES :\nZÉRO INVENTION : Utilise uniquement un ID et un Nom présents dans la liste fournie.\nJSON PUR : Ta réponse doit commencer par { et finir par }. Pas de texte, pas de \\`\\`\\`json.\nLANGUE : Rédige le champ \"reason\" en français uniquement.\nPRÉCAUTION : Si l'email contient une urgence absolue (convocation, huissier, mise en demeure), utilise le dossier JURIDIQUE parent (Label_6137983776475129093).`;\n\nconst userMessage = `Expéditeur : ${$json.From}\nSujet : ${$json.Subject}\nContenu : ${$json.snippet}\nDate : ${$json.internalDate}`;\n\nreturn {\n  json: {\n    requestBody: JSON.stringify({\n      model: \"deepseek-chat\",\n      temperature: 0,\n      max_tokens: 10,\n      messages: [\n        { role: \"system\", content: systemPrompt },\n        { role: \"user\", content: \"ping\" }\n      ]\n    })\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2240,
        -304
      ],
      "id": "ff7bf217-c959-441e-b584-699904533202",
      "name": "Code JS - Chauffe cache"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.deepseek.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "deepSeekApi",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.requestBody }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2464,
        -376
      ],
      "id": "34b6db04-8075-4c1c-aec6-3672d039bfef",
      "name": "API DeepSeek - Chauffe",
      "credentials": {
        "oAuth2Api": {
          "id": "TliXgPxpJQmgqDP0",
          "name": "Google Search Console API"
        },
        "deepSeekApi": {
          "id": "MBt6ozX97KVIAwcD",
          "name": "DeepSeek account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const usage = $json.usage;\nconst cachedTokens = usage.prompt_cache_hit_tokens || 0;\nconst promptTokens = usage.prompt_tokens || 1;\nconst cacheRatio = cachedTokens / promptTokens;\n\nconst cacheChaud = cacheRatio > 0.7;\nconst tentatives = $('Chauffe Cache').item.json.tentatives || 0;\n\nreturn {\n  json: {\n    cache_chaud: cacheChaud || tentatives >= 3,\n    cache_ratio: Math.round(cacheRatio * 100),\n    cached_tokens: cachedTokens,\n    prompt_tokens: promptTokens,\n    tentatives: tentatives + 1\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2688,
        -376
      ],
      "id": "80828896-eb41-4cd0-b9b4-5fa576a1e1b3",
      "name": "Code JS - Vérifie cache"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 3,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cbca57dd-0c5d-4db5-9c0b-8bf99bbce01d",
              "leftValue": "={{ $json.cache_chaud }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2912,
        -376
      ],
      "id": "eacb7fab-5ea7-4d7d-b5cc-ad24d143ccac",
      "name": "Si - Cache chaud"
    },
    {
      "parameters": {
        "amount": 2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3136,
        -208
      ],
      "id": "aa6f5d9b-069b-4e3c-8ef5-59c60c6a51e2",
      "name": "Attente - 2s retry",
      "webhookId": "c154b217-4438-4721-bbcb-ecef7b05a28e"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 3,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "eb3d0aa6-b60b-48a6-91e0-adc90ce64f0f",
              "leftValue": "={{$json.nb_emails }}",
              "rightValue": 50,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1792,
        -304
      ],
      "id": "5785a776-8a20-4abd-aed4-591301bc70d1",
      "name": "Si - Seuil nb emails"
    }
  ],
  "connections": {
    "Trigger - Tri Gmail MEA": {
      "main": [
        [
          {
            "node": "Get many labels",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many messages": {
      "main": [
        [
          {
            "node": "Trie - Par date",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trie - Par date": {
      "main": [
        [
          {
            "node": "Get a thread",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Si - Email déjà classé": {
      "main": [
        [
          {
            "node": "Add label to message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code JS - Évalue nb emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code JS - Détecte dossiers": {
      "main": [
        [
          {
            "node": "Si - Email déjà classé",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code JS - Filtre labels": {
      "main": [
        [
          {
            "node": "Get many messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many labels": {
      "main": [
        [
          {
            "node": "Code JS - Filtre labels",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add label to message": {
      "main": [
        [
          {
            "node": "Remove label from message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a thread": {
      "main": [
        [
          {
            "node": "Code JS - Détecte dossiers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove label from message": {
      "main": [
        [
          {
            "node": "Append row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add label to message1": {
      "main": [
        [
          {
            "node": "Remove label from message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code JS - Nettoie email": {
      "main": [
        [
          {
            "node": "Code JS - Prépare classif",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API DeepSeek - Classifie": {
      "main": [
        [
          {
            "node": "Code JS - Parse classif",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code JS - Prépare classif": {
      "main": [
        [
          {
            "node": "API DeepSeek - Classifie",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code JS - Parse classif": {
      "main": [
        [
          {
            "node": "Add label to message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code JS - Évalue nb emails": {
      "main": [
        [
          {
            "node": "Si - Seuil nb emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Si - Chauffe nécessaire": {
      "main": [
        [
          {
            "node": "Code JS - Chauffe cache",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code JS - Chauffe cache": {
      "main": [
        [
          {
            "node": "API DeepSeek - Chauffe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API DeepSeek - Chauffe": {
      "main": [
        [
          {
            "node": "Code JS - Vérifie cache",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code JS - Vérifie cache": {
      "main": [
        [
          {
            "node": "Si - Cache chaud",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Si - Cache chaud": {
      "main": [
        [
          {
            "node": "Code JS - Nettoie email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Attente - 2s retry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Attente - 2s retry": {
      "main": [
        [
          {
            "node": "Code JS - Chauffe cache",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Si - Seuil nb emails": {
      "main": [
        [
          {
            "node": "Si - Chauffe nécessaire",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "errorWorkflow": "wg0YurkUmY4jQap6",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "tags": [
    "TRI GMAIL",
    "COMPTE MEA"
  ]
}