workflows/marketing-acquisition/brief-strategique-hebdomadaire/workflow.json
{
  "name": "Brief Stratégique hebdomadaire",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                1
              ],
              "triggerAtHour": 6
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        224
      ],
      "id": "545d0024-a0df-4521-bb4f-6d5f70396587",
      "name": "Trigger - Brief stratégique lundi"
    },
    {
      "parameters": {
        "jsCode": "var all = $input.all();\nvar corpus = '';\n\nvar stripHtml = function(str) {\n  return (str || '').replace(/<[^>]+>/g, '').replace(/&amp;/g, '&').replace(/&#39;/g, \"'\").replace(/&lt;/g, '<').replace(/&gt;/g, '>').replace(/&quot;/g, '\"');\n};\n\nall.forEach(function(item) {\n  var d = item.json;\n  if (d.results && d.query) {\n    d.results.slice(0, 5).forEach(function(r) {  // 5 par requête Tavily\n      corpus += 'Tavily | ' + stripHtml(r.title) + ' — ' + stripHtml(r.content).slice(0, 500) + '\\n';\n    });\n  }\n  if (d.title && (d.link || d.guid)) {\n    corpus += 'RSS | ' + stripHtml(d.title) + ' — ' + stripHtml(d.contentSnippet || d.content || d.summary || '').slice(0, 700) + '\\n';\n  }\n});\n\nreturn [{\n  json: {\n    corpus: corpus,\n    date: new Date().toLocaleDateString('fr-FR')\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        896,
        128
      ],
      "id": "b002face-7b21-4e68-a152-e8edf887fb8e",
      "name": "Code JS - Compile corpus",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "query": "intelligence artificielle automatisation agents IA 2026",
        "options": {
          "search_depth": "advanced",
          "max_results": 5,
          "days": 7
        }
      },
      "type": "@tavily/n8n-nodes-tavily.tavily",
      "typeVersion": 1,
      "position": [
        224,
        -736
      ],
      "id": "1c0258b3-ba0c-4253-96c6-7f34cebf847f",
      "name": "Tavily - IA",
      "credentials": {
        "tavilyApi": {
          "id": "nBYw8IJg28IocYHx",
          "name": "Tavily account"
        }
      }
    },
    {
      "parameters": {
        "query": "startups levées de fonds business tech France 2026",
        "options": {
          "search_depth": "advanced",
          "max_results": 5,
          "days": 7
        }
      },
      "type": "@tavily/n8n-nodes-tavily.tavily",
      "typeVersion": 1,
      "position": [
        224,
        -544
      ],
      "id": "796fac24-d62f-4b93-a74f-bf1dfd73a947",
      "name": "Tavily - Business",
      "credentials": {
        "tavilyApi": {
          "id": "nBYw8IJg28IocYHx",
          "name": "Tavily account"
        }
      }
    },
    {
      "parameters": {
        "query": "cybersécurité faille vulnérabilité ransomware 2026",
        "options": {
          "search_depth": "advanced",
          "max_results": 5,
          "days": 7
        }
      },
      "type": "@tavily/n8n-nodes-tavily.tavily",
      "typeVersion": 1,
      "position": [
        224,
        -352
      ],
      "id": "b1ca18b5-d66d-43c1-9d26-cf61aecfdb7f",
      "name": "Tavily - Sécurité",
      "credentials": {
        "tavilyApi": {
          "id": "nBYw8IJg28IocYHx",
          "name": "Tavily account"
        }
      }
    },
    {
      "parameters": {
        "query": "développement web framework outil developer 2026",
        "options": {
          "search_depth": "advanced",
          "max_results": 5,
          "days": 7
        }
      },
      "type": "@tavily/n8n-nodes-tavily.tavily",
      "typeVersion": 1,
      "position": [
        224,
        -160
      ],
      "id": "e7f6eae5-9a74-4238-add1-669ad2e6dfc9",
      "name": "Tavily - Dev",
      "credentials": {
        "tavilyApi": {
          "id": "nBYw8IJg28IocYHx",
          "name": "Tavily account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://www.google.com/alerts/feeds/YOUR_GOOGLE_ALERTS_ID/YOUR_ALERT_ID_1",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        224,
        1184
      ],
      "id": "f6e58ae9-ac59-40dd-8b6b-56c3f9d4c0b6",
      "name": "RSS - Alerts - automatisation no-code",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "url": "https://www.google.com/alerts/feeds/YOUR_GOOGLE_ALERTS_ID/YOUR_ALERT_ID_2",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        224,
        416
      ],
      "id": "3415c3ac-760a-4c96-9ca4-82aa328dc405",
      "name": "RSS - Alerts - Claude Anthropic",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "url": "https://www.google.com/alerts/feeds/YOUR_GOOGLE_ALERTS_ID/YOUR_ALERT_ID_3",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        224,
        608
      ],
      "id": "98ad1d1e-0343-41bf-a88a-69f4c366df46",
      "name": "RSS - Alerts - DeepSeek",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "url": "https://www.google.com/alerts/feeds/YOUR_GOOGLE_ALERTS_ID/YOUR_ALERT_ID_4",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        224,
        800
      ],
      "id": "e6cbb698-a408-4860-b358-4918240f3b54",
      "name": "RSS - Alerts - détection fuite eau",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "url": "https://www.google.com/alerts/feeds/YOUR_GOOGLE_ALERTS_ID/YOUR_ALERT_ID_5",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        224,
        992
      ],
      "id": "c5ca1a6b-0b9c-47f8-b24b-ad118979700c",
      "name": "RSS - Alerts - n8n",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "var corpus = $input.first().json.corpus;\nvar date   = $input.first().json.date;\n\nvar body = {\n  model: \"deepseek-v4-flash\",\n  temperature: 0.3,\n  messages: [\n    {\n      role: \"system\",\n      content: \"Tu es un assistant de veille stratégique. Tu analyses des articles et actualités de la semaine et produis une synthèse structurée par thème. Tu gardes uniquement ce qui est vraiment important, nouveau ou actionnable. Tu ignores le contenu promotionnel ou redondant. Tu réponds UNIQUEMENT en JSON valide sans backticks.\"\n    },\n    {\n      role: \"user\",\n        \"content\": \"Voici les actualités de la semaine du \" + date + \" :\\n\\n\" + corpus +  \"\\n\\nAnalyse et réponds avec ce JSON :\\n{\\\"themes\\\":[{\\\"nom\\\":\\\"Nom du thème\\\",\\\"emoji\\\":\\\"emoji\\\",\\\"points\\\":[{\\\"titre\\\":\\\"titre court\\\",\\\"detail\\\":\\\"2-3 phrases\\\",\\\"source\\\":\\\"source\\\",\\\"actionnable\\\":true}]}],\\\"a_retenir\\\":\\\"insight le plus important de la semaine en 1 phrase\\\",\\\"tendance\\\":\\\"une tendance de fond observée cette semaine en 1 phrase\\\"}\\n\\nRègles :\\n- Crée obligatoirement un thème 'Local Hauts-de-France' avec les actualités RSS locales\\n- Crée obligatoirement un thème 'IA & Outils' avec Claude, Anthropic, DeepSeek, n8n\\n- Pour les autres thèmes, garde uniquement ce qui est important ou actionnable\\n- Ignore le contenu purement sportif ou anecdotique sauf s'il concerne directement la région\"\n    }\n  ]\n};\n\nreturn [{ json: { body: body } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        128
      ],
      "id": "4eeb85ce-b78f-4eb5-b3a9-0a42e5c82773",
      "name": "Code JS - Prépare prompt"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.deepseek.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "deepSeekApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.body) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1344,
        128
      ],
      "id": "54ad8a9f-7e42-4045-b8ee-343d498b7793",
      "name": "API DeepSeek - Analyse corpus",
      "credentials": {
        "deepSeekApi": {
          "id": "MBt6ozX97KVIAwcD",
          "name": "DeepSeek account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "var raw = $input.first().json.choices[0].message.content.trim();\nvar ids = $input.first().json.ids;\n\nvar digest;\ntry {\n  digest = JSON.parse(raw);\n} catch(e) {\n  return [{ json: { message: '⚠️ Erreur de parsing du digest.', ids: [] } }];\n}\n\nvar date = new Date().toLocaleDateString('fr-FR');\nvar messages = [];\n\nvar header =\n  '🔭 <b>Veille Stratégique</b>\\n' +\n  '📅 Semaine du ' + date + '\\n' +\n  '─────────────────\\n\\n' +\n  '⭐ <b>À retenir</b>\\n' +\n  digest.a_retenir + '\\n\\n' +\n  '📈 <b>Tendance</b>\\n' +\n  digest.tendance + '\\n';\n\nvar current = header;\n\nfor (var i = 0; i < digest.themes.length; i++) {\n  var theme = digest.themes[i];\n  var themeBlock = \n    '\\n─────────────────\\n' +\n    theme.emoji + ' <b>' + theme.nom.toUpperCase() + '</b>\\n\\n';\n\n  for (var j = 0; j < theme.points.length; j++) {\n    var point = theme.points[j];\n    var tag = point.actionnable ? ' 🎯' : '';\n    themeBlock += \n      '• <b>' + point.titre + '</b>' + tag + '\\n' +\n      point.detail + '\\n' +\n      '<i>— ' + point.source + '</i>\\n\\n';\n  }\n\n  if ((current + themeBlock).length > 4000) {\n    messages.push(current);\n    current = theme.emoji + ' <b>' + theme.nom.toUpperCase() + '</b> (suite)\\n\\n';\n    current += themeBlock.replace('\\n─────────────────\\n' + theme.emoji + ' <b>' + theme.nom.toUpperCase() + '</b>\\n\\n', '');\n  } else {\n    current += themeBlock;\n  }\n}\n\ncurrent += '─────────────────\\n🤖 <i>Généré par DeepSeek V4-Flash</i>';\n\nif (current.length > 0) messages.push(current);\n\nreturn messages.map(function(msg) {\n  return { json: { message: msg } };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1568,
        128
      ],
      "id": "72a4a502-77ab-4d1d-9d5f-3f96a5dfc235",
      "name": "Code JS - Formate brief"
    },
    {
      "parameters": {
        "chatId": "YOUR_TELEGRAM_CHAT_ID",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1792,
        128
      ],
      "id": "ac10f1c4-9fce-4569-a21c-a05e67fd2393",
      "name": "Telegram - Envoie brief",
      "webhookId": "ff8085a8-0be9-4cfa-bc97-ab7c6b56dfbf",
      "credentials": {
        "telegramApi": {
          "id": "kE1pKqsaZAMa2DgZ",
          "name": "RadarDigest_clem58790_Bot"
        }
      }
    },
    {
      "parameters": {
        "url": "https://actu.fr/hauts-de-france/rss.xml",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        224,
        32
      ],
      "id": "52e548ed-f51c-414b-879a-2dbf135b35c5",
      "name": "RSS - Actu Lille"
    },
    {
      "parameters": {
        "url": "https://www.ici.fr/rss/nord/rubrique/infos.xml",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        224,
        224
      ],
      "id": "1c4f3ba8-63f3-4913-87af-c7e4cdfbc209",
      "name": "RSS - ICI Nord"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        672,
        112
      ],
      "id": "fb34cad2-c1dc-44d0-a5ae-3803086e2773",
      "name": "Merge - Toutes sources"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        448,
        128
      ],
      "id": "ee6e9d23-be75-4171-b9d0-28c018a29971",
      "name": "Merge - Actu locale"
    },
    {
      "parameters": {
        "numberInputs": 5
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        448,
        752
      ],
      "id": "24ae63a5-98a4-40f5-88b8-2c302520b26d",
      "name": "Merge - Alertes Google"
    },
    {
      "parameters": {
        "numberInputs": 4
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        448,
        -480
      ],
      "id": "20896333-17bb-4fc2-b522-936094273b86",
      "name": "Merge - Recherches Tavily"
    }
  ],
  "connections": {
    "Trigger - Brief stratégique lundi": {
      "main": [
        [
          {
            "node": "Tavily - IA",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS - Actu Lille",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS - ICI Nord",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS - Alerts - Claude Anthropic",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS - Alerts - DeepSeek",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS - Alerts - détection fuite eau",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS - Alerts - n8n",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS - Alerts - automatisation no-code",
            "type": "main",
            "index": 0
          },
          {
            "node": "Tavily - Business",
            "type": "main",
            "index": 0
          },
          {
            "node": "Tavily - Sécurité",
            "type": "main",
            "index": 0
          },
          {
            "node": "Tavily - Dev",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tavily - IA": {
      "main": [
        [
          {
            "node": "Merge - Recherches Tavily",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tavily - Business": {
      "main": [
        [
          {
            "node": "Merge - Recherches Tavily",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Tavily - Sécurité": {
      "main": [
        [
          {
            "node": "Merge - Recherches Tavily",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Tavily - Dev": {
      "main": [
        [
          {
            "node": "Merge - Recherches Tavily",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "RSS - Alerts - automatisation no-code": {
      "main": [
        [
          {
            "node": "Merge - Alertes Google",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "RSS - Alerts - Claude Anthropic": {
      "main": [
        [
          {
            "node": "Merge - Alertes Google",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS - Alerts - DeepSeek": {
      "main": [
        [
          {
            "node": "Merge - Alertes Google",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "RSS - Alerts - détection fuite eau": {
      "main": [
        [
          {
            "node": "Merge - Alertes Google",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "RSS - Alerts - n8n": {
      "main": [
        [
          {
            "node": "Merge - Alertes Google",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Code JS - Compile corpus": {
      "main": [
        [
          {
            "node": "Code JS - Prépare prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code JS - Prépare prompt": {
      "main": [
        [
          {
            "node": "API DeepSeek - Analyse corpus",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API DeepSeek - Analyse corpus": {
      "main": [
        [
          {
            "node": "Code JS - Formate brief",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code JS - Formate brief": {
      "main": [
        [
          {
            "node": "Telegram - Envoie brief",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS - Actu Lille": {
      "main": [
        [
          {
            "node": "Merge - Actu locale",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS - ICI Nord": {
      "main": [
        [
          {
            "node": "Merge - Actu locale",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge - Toutes sources": {
      "main": [
        [
          {
            "node": "Code JS - Compile corpus",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge - Actu locale": {
      "main": [
        [
          {
            "node": "Merge - Toutes sources",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge - Alertes Google": {
      "main": [
        [
          {
            "node": "Merge - Toutes sources",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Merge - Recherches Tavily": {
      "main": [
        [
          {
            "node": "Merge - Toutes sources",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "errorWorkflow": "wg0YurkUmY4jQap6",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  }
}
